<div data-role="page" id="page-list">
  <div data-role="header">
    <h1>AR DATA EDITOR</h1>
  </div>
  <div role="main" class="ui-content">
    <div data-role="controlgroup" data-type="horizontal">
      <a href="#new_file" data-rel="popup" class="ui-btn" id="new_file_btn" data-transition="pop">New</a>
      <a href="#" class="ui-btn" id="open-file-btn">Open</a>
      <% if (serverMode) { %>
      <a href="#" class="ui-btn" id="read-btn">Read</a>
      <% } %>
      <a href="#"  class="ui-btn" id="save-file-btn">Save</a>
      <% if (serverMode) { %>
      <a href="#" class="ui-btn" id="write-btn">Write</a>
      <% } %>
      <!--          <a href="#" class="ui-btn" id="settings-btn">Settings</a> -->
      <a href="help.html" target="_blank" class="ui-btn">Help</a>
    </div>
    <input type="file" style="display:none; border:none" id="file-select"></input>
    <div data-role="collapsible">
      <h4>File Info</h4>
      <dl>
        <dt>FileName</dt>
        <dd id="file-name"></dd>
        <dt>Type</dt>
        <dd id="file-type"></dd>
        <dt>Model</dt>
        <dd id="file-model"></dd>
        <dt>Version</dt>
        <dd id="file-version"></dd>
        <dt>RegsterDate</dt>
        <dd id="file-registered-at"></dd>
      </dl>
    </div>
    <hr />
    <div class="ui-field-contain" id="f-select-bank">
      <label for="select-bank" class="select">Memory Bank</label>
      <select name="select-bank" id="select-bank" data-inline="true">
      </select>
    </div>
    <div data-role="controlgroup" data-type="horizontal">
      <a href="#" class="ui-btn" id="fn-cut-btn">Cut</a>
      <a href="#" class="ui-btn" id="fn-copy-btn">Copy</a>
      <a href="#" class="ui-btn" id="fn-insert-btn">Insert</a>
      <a href="#" class="ui-btn" id="fn-remove-btn">Remove</a>
      <a href="#" class="ui-btn" id="fn-clear-btn">Clear</a>
      <a href="#" class="ui-btn" id="fn-multiple-data-create-btn">MultipleDataCreate</a>
      <a href="#" class="ui-btn" id="fn-moveup-btn">MoveUp</a>
      <a href="#" class="ui-btn" id="fn-movedown-btn">MoveDown</a>
      <a href="#" class="ui-btn" id="fn-sort-btn">Sort</a>
    </div>
    <div id="channel-list-div"></div>
  </div>
  <%- include('../share/_footer'); %>
  <%- include('./window/_new') %>
  <%- include('./window/_save') %>
  <%- include('./window/_sort') %>
  <%- include('./window/_multiple_data_create') %>
  <%- include('./window/_error') %>
  <%- include('./window/_warning') %>
  <%- include('./window/_complete') %>
  <%- include('./window/_selected') %>
  <%- include('./window/_settings') %>
</div>
